<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<h1>Users: </h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Роль(и)</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getUsername()}">Логин</td>
        <td th:utext="${user.getName()}">Имя</td>
        <td th:utext="${user.getSurname()}">Фамилия</td>
        <td th:utext="${user.getRoles()}">Роль(и)</td>
        <td>
            <form th:method="GET" th:action="@{/admin/users/{id}/edit (id = ${user.getId()})}">
                <button>Изменить</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/users/{id} (id = ${user.getId()})}">
                <button>Удалить</button>
            </form>
        </td>
    </tr>
</table>
<br>
<form th:method="GET" action="/admin/users/new">
    <button>Добавить нового пользователя</button>
</form>
<br>
<hr>
<form action="/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>