<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировние пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id} (id = ${user.getId()})}" th:object="${user}">
  <label for="username">Введите логин:</label>
  <input type="text" th:field="*{username}" id="username"/>
  <br><br>
  <label for="password">Введите пароль:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br><br>
  <label for="name">Введите имя:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br><br>
  <label for="surname">Введите фамилию:</label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <br><br>
  <label>Выберите роль(и):
    <select name="roles" id="roles" multiple="multiple" size="2">
      <div th:each="role : ${roles}">
        <option th:text="${role.toString()}" th:value="${role.getId()}" th:selected="${user.getRoles().contains(role)}"/>
      </div>
    </select>
  </label>
  </p>
  <br><br>
  <input type="submit" value="Обновить пользователя"/>
</form>
<hr/>
<br/>
<a href="/admin/users">Вернуться к списку пользователей</a>
<br/>
<br>
<hr>
<form action="/logout">
  <button type="submit">Logout</button>
</form>
</body>
</html>